@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  overflow-x: hidden;
}

.logo {
  width: 3.5rem;
}

/* MENU LINKS */
nav a.nav-link {
  font-weight: bolder;
  letter-spacing: 0.035rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  width: 17.25rem;
  padding: 0 !important;
  /* height:6rem !important; */
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid rgb(252, 246, 246);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid #c5796d;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #c5796d;
}

/* *******************************HEADER******************************* */
.header-wraper {
  position: relative;
  background: url(Jaipur.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main-info h1 {
  color: rgb(108, 28, 61);
}

.typed-text {
  font-size: 2rem;
  color: white;
}

.btn-main-offer {
  border: 1px solid;
  transform: uppercase;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: black;
  margin: 2rem;
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100wh;
  z-index: 1;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .particles-canvas {
    display: none;
  }
}
/* ************************ABOUT ME************************************** */

/* .photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.profile-img{
  width: 250px;
  border-radius: 50%;
  height:280px;
  padding:.3rem;
  border: 1px solid #c5796d;
}

.about-heading{
  color: rgb(108, 28, 61);
  text-transform: uppercase;
}

p{
  font-size:18px;
  font-weight:bold;
}

@media(max-width:468px){
  .profile-img{
    width: 120px;;
    height:150px;
  }
 
} */
/* ************************EXPERIENCE************************************** */
/* .experience-wrapper{
  background:rgb(184, 189, 191);
} */
/* .experience-wraper{
  position: relative;
  padding:3.125rem;
  overflow: hidden;
  
}
#experience h1{
  text-transform: uppercase;
  color:rgb(108, 28, 61);
}
.experience-wraper::before{
  position: absolute;
  content:"";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width:0.125rem;
  height:100%;
  background:rgb(108, 28, 61);
  z-index: 1;
}
.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right{
  float: right;
}
.timeline-block-left{
  float: left;
  direction: rtl;
}
.marker{
  width:1rem;
  height:1rem;
  border-radius: 50%;
  border:0.312rem solid #c5796d;
  background:#f0f1f1;
  margin-top: 0.625rem;
  z-index: 3;
}
.timeline-content{
  width:95%;
  padding:0 0.9375rem;
  /* color:#293e44; */
/* direction: ltr;
}
.timeline-content h3{
  margin-top:0.3125rem;
  color:rgb(108, 28, 61);
  font-weight: 800;
}  */
/* ************************PROJECTS************************************** */
.image-box-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.portfolio-wrapper {
  padding: 3rem 0;
}
.portfolio-wrapper h1 {
  color: rgb(108, 28, 61);
  margin-bottom: 10%;
}
.portfolio-image-box {
  position: relative;
  margin: 1rem;
}
.portfolio-image {
  width: 25rem;
  border: 1px solid #c5796d;
  padding: 0.5rem;
}

/* ************************overflow************************************** */
.overflow {
  position: absolute;
  opacity: 0;
  background: #282c34;
  width: 25rem;
  height: 13rem;
  top: 0;
  border: 1px solid #c5796d;
  cursor: pointer;
}
.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}
.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -13rem;
  margin-top: 4.6rem;
  color: #d1867b;
  font-size: 1.5rem;
}
.portfolio-image-box:hover .portfolio-icon {
  opacity: 80%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* **************************OVERFLOW BOX************************************ */
.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}
.hyper-link {
  cursor: pointer;
}
.hyper-link:hover {
  color: #c5796d;
}

/* **************************CONTACT************************************ */

.contact-wrapper {
  /* height: 90vh; */
  background: url(Jaipur.jpg);
  background-size: cover;
  height: 100vh;
}

.contact-header {
  color: rgb(108, 28, 61);
  margin-bottom: 10%;
}
.address-icon,
.phone-icon,
.email-icon {
  color: #d1867b;
  font-size: 2.5rem;
}

/***************************/

@media (max-width: 1366px) {
  .image-box-wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    overflow: hidden;
  }
  .portfolio-image {
    width: 20rem;
  }
  .overflow {
    position: absolute;
    opacity: 0;
    background: #282c34;
    width: 20rem;
    height: 10.6rem;
    top: 0;
    border: 1px solid #c5796d;
    cursor: pointer;
  }
  .portfolio-icon {
    position: absolute;
    opacity: 0;
    margin-left: -11rem;
    margin-top: 4.6rem;
    color: #d1867b;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .image-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio-image-popupbox {
    width: 100%;
  }
  .portfolio-image {
    width: 13rem;
  }
  .overflow {
    position: absolute;
    opacity: 0;
    background: #282c34;
    width: 13rem;
    height: 7rem;
    top: 0;
    border: 1px solid #c5796d;
    cursor: pointer;
  }
  .portfolio-icon {
    position: absolute;
    opacity: 0;
    margin-left: -7rem;
    margin-top: 2.6rem;
    color: #d1867b;
    font-size: 1.5rem;
  }
}
